* {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

h3 {
  letter-spacing: 0.08rem;
}

a {
  font-weight: bolder;
  letter-spacing: 0.02rem;
  font-size: 2.5rem;
}

h1 {
  text-shadow: 0.2rem 0rem 0.4rem grey;
  font-size: 3rem;
  line-height: 1.4;
  color: darkgreen;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  margin-left: 35rem;
  margin-bottom: 0;
  margin-top: 4rem;
}

.hindi {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: red;
  font-weight: bold;
}

header {
  background-color: lightyellow;
  text-shadow: 0.1rem 0.1rem 0.8rem grey;
  margin-bottom: -1rem;
  border-top: 3rem solid rgba(165, 42, 42, 0.76);
}

.logo {
  width: 28rem;
  margin-top: -15rem;
  margin-left: 2rem;
}

h1::first-letter {
  font-size: 5rem;
}

.sub-heading {
  font-size: 1.8rem;
  line-height: 0.3;
  font-weight: bold;
  text-transform: uppercase;

  padding: 0.8rem 1rem;
  text-align: center;
  margin-top: 0;
  /* margin-left: rem; */
  margin-bottom: -4rem;
  letter-spacing: 0.4rem;
  color: rgba(0, 0, 0, 0.788);
}

.sub-heading::first-letter {
  font-size: 3.4rem;
  font-family: "Oswald", sans-serif;
}

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  float: left;
  width: 20%;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
}

.policies-heading {
  color: rgba(0, 0, 0, 0.849);
  font-size: 2.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #01a89dab;
  margin: 0;
  padding-top: -0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: -1rem;
  margin-top: 0.2rem;
  text-decoration: underline;
  letter-spacing: 0.2rem;
  text-shadow: 0.2rem 0.4rem 0.4rem grey;
}

.policies-heading::first-letter {
  font-size: 5rem;
}

.address {
  display: inline-block;
  letter-spacing: 0.1rem;
  margin-left: 50rem;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: -30rem;
  margin-bottom: 0;
}

footer {
  color: white;
  background-color: black;
  letter-spacing: 0.15rem;
  padding: 10rem 5rem;
  padding-top: 5rem;
  margin-bottom: auto;
  padding-bottom: 30rem;
}

h4 {
  margin: 1rem 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 3.5rem;
}

h4::first-letter {
  font-size: 6rem;
}

h5 {
  letter-spacing: 0.2rem;
  margin: 2rem 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 2.5rem;
}

h5::first-letter {
  font-size: 4rem;
}

footer p {
  margin: 2rem 2rem;
  padding-left: 2rem;
  font-size: 2rem;
}

i {
  margin-left: 90rem;
}
.contact-no {
  margin-left: 110rem;
  margin-top: -20rem;
}

.both-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cot-logo {
  width: 23rem;
  margin-top: -14rem;
  padding-right: 3rem;
}

.college-name {
  margin-left: 50rem;
  font-size: 3rem;
  letter-spacing: 0.08rem;
}

.hindi {
  margin-left: 50rem;
  font-size: 3rem;
  letter-spacing: 0.08rem;
}

/* 1rem =10px */

/* responsive code */
/* @media (max-width: 99.8rem) {
  html {
    font-size: 55%;
  }
  h1 {
    font-size: 30%;
  }
} */

/* @media (max-width: 76.8rem) {
  html {
    font-size: 45%;
  }
  h1 {
    font-size: 20%;
  }
} */

/* final styling */

.policy-container {
  background-color: lightyellow;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  gap: 5rem;
  margin: 3rem 0;
  padding: 0 2rem;
  margin-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.15rem;
}

.policy-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 0.8rem solid brown;
  border-radius: 2.5rem;
  padding: 5rem 3rem;
}

.images {
  width: 55rem;
}

.policy-1 {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-right: 30rem;
}

.policy-2 {
  margin-right: 5rem;
}

.policy-1 h3 {
  color: red;
  font-size: 3rem;
}

.policy-2 h3 {
  color: green;
  font-size: 3rem;
}

.policy-container p {
  font-size: 2.3rem;
}

#last-img {
  height: 32rem;
}

h3 {
  text-decoration: underline;
  font-weight: bold;
}

#address-id {
  font-size: 1.5rem;
  margin-top: 0;
}

.container {
  align-items: center;
  width: fit-content;
  /* width: 1200px; */
  margin-left: auto;
  margin-right: auto;
}

/* footer styling */

.footer-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

.insta-logo {
  width: 4rem;
}

.footer-link {
  color: white;
  background-color: black;
}

.my-name-header {
  font-size: 3rem;
}

.my-name {
  font-size: 2.5rem;
}

.related-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.related-links-heading {
  margin-left: -3.5rem;
}

/* FINAL STYLING OF Header  */

.header-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 18rem;
}

.main-header-container {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  margin-top: -18rem;
  margin-left: -50rem;
}
