* {
  font-family: sans-serif;
}

h3 {
  letter-spacing: 0.8px;
}

a {
  font-weight: bolder;
  letter-spacing: 0.2px;
}

h1 {
  text-shadow: 2px 0px 4px grey;
  font-size: 30px;
  line-height: 1.4;
  color: darkgreen;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  margin-left: 350px;
  margin-bottom: 0;
  margin-top: 40px;
}

.hindi {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: red;
  font-weight: bold;
}

header {
  background-color: lightyellow;
  text-shadow: 2 px 1px 4px grey;
  margin-bottom: -10px;
  /* margin: 0px 0px; */
  /* background-color: brown; */
  border-top: 30px solid rgba(165, 42, 42, 0.76);
  /* border-bottom:30px solid lightblue */
}

.logo {
  /* margin-top: -500px;
  margin-left: 80px; */
  width: 280px;
  margin-top: -150px;
  margin-left: 20px;
}

h1::first-letter {
  font-size: 50px;
}

.sub-heading {
  /* margin-top: -20px; */
  font-size: 13px;
  line-height: 0.3;
  font-weight: bold;
  text-transform: uppercase;

  padding: 8px 10px;
  text-align: center;
  margin-top: 10px;
  margin-left: px;
  margin-bottom: 0;
  /* text-decoration: underline; */
  letter-spacing: 4px;
  text-shadow: 2px 4px 4px grey;
  color: rgba(0, 0, 0, 0.788);
}

.sub-heading::first-letter {
  font-size: 34px;
}

#slider {
  overflow: hidden;

  /* width: 500px;
  height: 300px; */
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  float: left;
  width: 20%;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
}

.policies-heading {
  color: rgba(0, 0, 0, 0.849);
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #01a89dab;
  /* border-radius: 25px; */

  margin: 8px auto;
  padding: 10px 20px;
  margin-bottom: 5px;
  text-decoration: underline;
  letter-spacing: 4px;
  text-shadow: 2px 4px 4px grey;
}

.policies-heading::first-letter {
  font-size: 40px;
}

.address {
  display: inline-block;
  letter-spacing: 1px;
  margin-left: 350px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: -300px;
  margin-bottom: 0;
}

.phone-no {
  margin-top: 20px;
  font-size: 17px;
  margin-left: 1400px;
  padding-bottom: 0;
}

/* #01a89e */

.policy-1 {
  padding-top: 50px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  /* margin-right: 1000px; */
  border: 8px solid brown;
  border-radius: 25px;
  margin-bottom: 100px;
  padding-bottom: 50px;

  /* padding-right: 1100px; */
}

.policy-3 {
  padding-top: 50px;
  display: inline-block;
  margin-top: -50px;
  margin-left: 20px;
  margin-right: 20px;
  /* margin-right: 1000px; */
  border: 8px solid brown;
  border-radius: 25px;
  margin-bottom: 100px;
  padding-bottom: 50px;
}

/* .policy-4 {
  display: inline-block;
  padding-top: -100px;
  margin-left: 1000px;
  margin-top: -600px;
} */

.policy-5 {
  padding-top: 50px;
  display: inline-block;
  margin-top: -50px;
  margin-left: 20px;
  margin-right: 20px;
  /* margin-right: 1000px; */
  border: 8px solid brown;
  border-radius: 25px;
  margin-bottom: 100px;
  padding-bottom: 50px;
}

/* .policy-6 {
  display: inline-block;
  padding-top: -100px;
  margin-left: 1000px;
  margin-top: -600px;
} */

.policy-2-img {
  width: 550px;
}

.policy-3-img {
  width: 550px;
}

.policy-4-img {
  width: 550px;
}

.policy-details {
  /* font-weight: 500; */
  margin-top: 2px;
  background-color: lightyellow;
  text-shadow: 1px 1px 8px rgba(128, 128, 128, 0.815);
}

.inside-policy-1 {
  margin-left: 1100px;
  margin-top: -500px;
  margin-right: 50px;
}

.base-policy-1 {
  padding-left: 70px;
  margin-right: 1200px;
}

.inside-policy-3 {
  padding-top: 50px;
  margin-left: 1100px;
  margin-top: -500px;
  margin-right: 50px;
}

.base-policy-3 {
  padding-top: 70px;
  padding-left: 50px;
  margin-right: 1200px;
}

.inside-policy-5 {
  margin-left: 1100px;
  margin-top: -500px;
  margin-right: 50px;
}

.base-policy-5 {
  padding-left: 70px;
  margin-right: 1200px;
}

footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.849);
  letter-spacing: 1.5px;
  padding: 100px 50px;
  padding-top: 50px;
  margin-bottom: auto;

  /* margin-bottom: -50px; */
  padding-bottom: 300px;
}

h4 {
  margin: 10px 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 35px;
}

h4::first-letter {
  font-size: 60px;
}

h5 {
  letter-spacing: 2px;
  margin: 20px 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 25px;
}

h5::first-letter {
  font-size: 40px;
}

footer p {
  margin: 20px 20px;
  padding-left: 20px;
  font-size: 20px;
}

i {
  margin-left: 900px;
}
.contact-no {
  margin-left: 1100px;
  margin-top: -200px;
}

/* rgba(0, 0, 0, 0.849); */
